---
title: 
layout: default
---
<div class="home">
	<div class="banner">
		<div class="banner-inner">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8">

					
					<h1 class="editable">User experience, design & development</h1>

				</div>
			</div>
		</div>
		</div>
	</div>

	<div class="card listing wor1k">
		<div class="container">
			<h2 class="title editable">Featured work</h2>
			<div class="row">
			    {% for work in site.work limit: 4 %}
					{% include work-teaser-list.html %}
				{% endfor %}
				<div class="col-xs-12">
					<p class="link"><a href="/work">See more work »</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="card listing projects">
		<div class="inner">
		<div class="container">
			<h2 class="title editable">Projects</h2>
			<div class="row">
				<div class="row-wrap clearfix">
			    {% for project in site.projects limit: 4 %}
						 {% include project-teaser.html %}
				{% endfor %}
				<div class="col-xs-12">
					<p class="link"><a href="/work">See more work »</a></p>
				</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	
</div>
