---
title: Matt Kevan
lead: Product management, user experience, design &amp; development.
layout: default
---
<div class="container">
	<div class="row">
		<div class="col-xs-12">
		
<div class="content masthead">
	<h1>{{ page.title }}</h1>
	<p class="lead">{{ page.lead }}</p>
</div>


	<p class="title">Latest articles</p>

	{% assign datesort = (site.articles | sort: 'date' | reverse) %}
	{% for article in datesort limit: 4 %}
	<div class="content">
	    {% include article-teaser.html %}
	    </div>

	    
	{% endfor %}
	<p class="link"><a href="/articles">See more »</a></p>

			</div>
		</div>
	</div>



