---
layout: default
title: Software and services
permalink: /software/
lead: Useful tools
---



<div class="content">
	<h1>{{ page.title }}</h1>
	<p class="lead">{{ page.lead }}</p>

	<div class="controls">
		<button type="button" class="btn btn-default" data-filter="all">All</button>
		<button type="button" class="btn btn-default" data-filter=".research">Research</button>
		<button type="button" class="btn btn-default" data-filter=".wireframing">Wireframing</button>
		<button type="button" class="btn btn-default" data-filter=".design">Design</button>
		<button type="button" class="btn btn-default" data-filter=".prototyping">Prototyping</button>
		<button type="button" class="btn btn-default" data-filter=".animation">Animation</button>
		<button type="button" class="btn btn-default" data-filter=".hand-off">Hand-off</button>
		<button type="button" class="btn btn-default" data-filter=".design.system">Design system</button>


	</div>
</div>

<div class="row grid">

{% assign sorted_software = site.data.software-info | sort:'name' %}
{% for software in sorted_software %}
	{% assign cats = software.categories | split: ', ' %}
	
	<div class="mix col-xs-12 col-sm-6 {% for cat in cats %}{{ cat | downcase }} {% endfor %}">
		{% include software-grid.html %}
	</div>

{% endfor %}
</div>