<div class="owl-carousel owl-theme">
	<div>
		<img src="{{ page.slide1.i }}" alt="{{ page.slide1.c }}" />
		<p class="caption">{{ page.slide1.c }}
	</div>
	<div>
		<img src="{{ page.slide2.i }}" alt="{{ page.slide2.c }}" />
		<p class="caption">{{ page.slide2.c }}
	</div>
	<div>
		<img src="{{ page.slide3.i }}" alt="{{ page.slide3.c }}" />
		<p class="caption">{{ page.slide3.c }}
	</div>
	<div>
		<img src="{{ page.slide4.i }}" alt="{{ page.slide4.c }}" />
		<p class="caption">{{ page.slide4.c }}
	</div>
</div>