<footer class="footer bgk clearfix">
  	<p class="s">&copy; {{ "now" | date:"%Y" }} Matt Kevan</p>
</footer>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.matchHeight-min.js"></script>
<!--<script src="{{ site.baseurl }}/js/mixitup.min.js"></script>-->
<script src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/js/imagesloaded.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/js/scripts.js"></script>