<footer class="site-footer">

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<p>&copy; 2016 Matt Kevan</p>
		</div>
	</div>

</div>



</footer>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/owl.carousel/owl.carousel.js"></script>
<script src="{{ site.baseurl }}/js/scripts.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77930155-1', 'auto');
  ga('send', 'pageview');

</script>