<div class="header">
  <nav class="navbar navbar-default">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="menu-button pull-right visible-xs hidden-sm hidden-md hidden-lg" id="show" aria-expanded="false" aria-controls="navbar">Menu</button>
        <a class="navbar-brand" href="{{ site.baseurl }}/"> <img src="/images/site/logo.svg" alt="{{ site.title }}" /></a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right hidden-xs">
         {% include links.html %}
        </ul>
      </div><!--/.nav-collapse -->

      <div class="overlay wrap bgg">
        <div class="inner">

         <button type="button" class="overlay-button overlay-close">Close</button>
          <ul class="navigation">
            {% include links.html %}
          </ul>
        </div>
      </div><!-- /overlay -->

    </div><!--/.container-fluid -->
  </nav>
</div>