---
layout: default
---


<div class="container">

	<div class="row">
		<div class="col-xs-12">
			<div class="masthead">
				<p class="crumb s"><a href="/">Home </a>» <a href="/work">Work</a> »</p>
				<h1>{{ page.title }}</h1>
				<p class="tags xs">
					{% for tag in page.tags %}
						<span>{{ tag }}</span>
					{% endfor %}
				</p>	
			</div>
		</div>
	</div>
</div>
<div class="container">


	<div class="row">
		<div class="col-xs-12">
				{% if page.slides %}
				<div class="content bgw">
					{% include carousel.html %}
				</div>
				{% endif %}

		</div>
	</div>

	<div class="row">

	
		<div class="col-xs-12 col-md-8 content">
								<p class="lead">{{ page.description }}</p>

			{{ content }}
			<p><a href="{{ page.work-url }}" target="_blank">Visit the site »</a></p>
		</div>

			<div class="col-xs-12 col-md-4 aside">
					<h4>My role</h4>
					<ul>
						{% for role in page.roles %}
							<li>{{role}}</li>
					    {% endfor %}
					</ul>	


					

					<h4>Technology</h4>
					<ul>
						{% for tek in page.tech %}
							<li>{{ tek }}</li>
					    {% endfor %}
					</ul>

				
			</div>
			</div>
		</div>

