<!DOCTYPE html>

<html lang="en">
	{% include head.html %}


	<body class="{% if page.theme %}{{ page.theme }}{% endif %}">

		
		<div class="main">
{% include header.html %}

		{% if page.cover %}
			<div class="cover-image" style="background-image: url(/images/{{ page.cover }});">
				<div class="overlay"></div>
			</div>

		{% endif %}



					<div class="content {% if page.cover %}cover{% endif%}"> 
					{{ content }}
					</div>
				
		

		{% include footer.html %}
		</div>
		

	</body>

</html>
