<!DOCTYPE html>

<html lang="en">
	{% include head.html %}


	<body class="{% if page.theme %}{{ page.theme }}{% endif %}">

		{% include header.html %}

		{% if page.cover %}
			<div class="cover-image" style="background-image: url(/images/{{ page.cover }});">
				<div class="overlay"></div>
			</div>

		{% endif %}
		<div class="wrapper">
			<div class="container">
				<div class="row">


				
						<div class="main"> 
						{{ content }}
					</div>
	
					
					</div>

				</div>
			</div>
		</div>

		{% include footer.html %}
	</body>

</html>
