---
layout: default
---
<div class="gallery">

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2 content">
				<p class="breadcrumb"><a href="/projects"> « Back to projects</a></p>
				<h1 class="title">{{ page.title }}</h1>
				<p class="lead">{{ page.lead }}</p>
				{{ content }}
				<p class="link"><a href="{{ page.project-url }}" target="_blank"> {{ page.url-title }} »</a></p>

			</div>
		</div>
	</div>

	<div class="container gallery">
		{% for gallery in site.data.galleries %}
			{% if gallery.id == page.galleryid %}
				<div class="grid">
					{% for image in gallery.images %}
						<div class="grid-width"></div>
						<div class="grid-item col-xs-12 col-sm-6 col-md-4">
							<img src="{{ gallery.imagefolder }}/{{ image.name }}" alt="{{ image.title }}" />
						</div>
					{% endfor %}
				</div>
			{% endif %}
		{% endfor %}
	</div>


