---
layout: default
---


<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	<h1 itemprop="name headline">{{ page.title }}</h1>
	<p class="lead">{{ page.description }}</p>	

	{% if page.collection == 'posts' %}	
		<p class="date">{{ page.date | date: "%-d %B %Y"}}</p>
	{% endif %}
	
	<p class="tags xs">
	 	{% for tag in page.tags %}
		 	<span>{{ tag }}</span>
		{% endfor %}
			
		{% if page.type == 'link' %}
			<span>Link</span>
		{% endif %}
	</p>

	<hr>


				
	<div itemprop="articleBody">
		
		{{ content }}
	</div>

	{% if page.type == 'link' %}
		<a href="{{ page.link }}" target="_blank">Visit site »</a>

		<hr>

		<h4>More links</h4>

		{% assign sort = site.posts | where: 'type','link' | sort: 'date' | reverse %}
		{% for item in sort limit:5 %}		
		{% include link.html %}
		{% endfor %}
		
	{% endif %}

	{% if page.link %}
		<p><a href="{{ page.link }}" target="_blank">Visit the site »</a></p>
	{% endif %}


</article>



  

