---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	<h1 itemprop="name headline">{{ page.title }}</h1>
	<p class="lead">{{ page.description }}</p>				
	<p class="tags xs">
	 	{% for tag in page.tags %}
		 	<span>{{ tag }}</span>
		{% endfor %}
	</p>
	<hr>


				
	<div itemprop="articleBody" class="content">
		
		{{ content }}
	</div>

	{% if page.booklist %}
		{% for book in site.data.books %}
			{% assign no = book.id | plus: 0 %}
			{% for item in page.booklist %}
				{% if item.i == no %}

					<div class="cover continued text-center bgk">
						<a href="{{ book.link }}" target="_blank">
							<img src="/images/books/{{ book.image }}" alt="{{ book.title }}" class="book-cover" />
						</a>
					</div>

					<div class="content">
						<h3>{{ book.title }}</h3>
						<p class="author s">{{ book.author }}</p>
						<p>{{ book.description }}</p>
						<p><a href="{{ book.link }}" target="_blank">Read more »</a></p>
					</div>
						
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endif%}

</article>


  

