---
layout: default
---
<div class="project">

<div class="card banner project" style="background-image: url('{{ page.banner-image }}');">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="breadcrumb"><a href="{{site.baseurl }}/work">Work &raquo;</a></div>
				    <h1 class="title">{{ page.title }}</h1>
				    <p class="intro">{{ page.teaser }}</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card content">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2">
					<div class="categories">
						<p class="lead">Project type: {{ page.project-type }} <br />
						Roles: {{ page.roles | join: ', ' }}
						</p>
					</div>

					<p class="lead">{{ page.lead }}</p>

					{{ content }}
				</div>

			</div>
		</div>
	</div>
</div>

<div class="card carousel">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-push-2">
					<div id="work-carousel" class="owl-carousel">
						{% for image in page.carousel %}
						<div class="carousel-image"> <img src="{{ image }}" /></div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card link"
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<a href="{{ page.work-url }}" target="_blank">Visit the site &raquo;</a>
				</div>
			</div>
		</div>
	</div>
</div>
