---
layout: default
---

<h1>{{ page.title }}</h1>
<p class="lead">{{ page.description }}</p>

<p class="tags xs">
	{% for tag in page.tags %}
		<span>{{ tag }}</span>
	{% endfor %}
</p>	
<hr>

{% if page.slides %}
	{% include carousel.html %}
{% endif %}

<div class="row">
	<div class="col">
		{{ content }}
	</div>
</div>

{% if page.gallery %}
	{% include gallery.html %}
{% endif %}

{% if page.work-url %}
	<p><a href="{{ page.work-url }}" target="_blank">Visit the site »</a></p>
{% endif %}

{% if page.roles %}
	<h4>My roles</h4>
	<ul>
		{% for role in page.roles %}
			<li>{{role}}</li>
	    {% endfor %}
	</ul>	
{% endif %}
					
{% if page.tech %}
	<h4>Technology</h4>
	<ul>
		{% for tek in page.tech %}
			<li>{{ tek }}</li>
	    {% endfor %}
	</ul>
{% endif %}

