---
layout: default
---

<h1>{{ page.title }}</h1>
<p class="lead">{{ page.description }}</p>

<p class="tags xs">
	{% for tag in page.tags %}
		<span>{{ tag }}</span>
	{% endfor %}
</p>	
<hr>

{% if page.slides %}
	<div class="content bgw">
		{% include carousel.html %}
	</div>
{% endif %}

<div class="content">
	{{ content }}
</div>

<p><a href="{{ page.work-url }}" target="_blank">Visit the site »</a></p>

{% if page.roles %}
	<h4>My roles</h4>
	<ul>
		{% for role in page.roles %}
			<li>{{role}}</li>
	    {% endfor %}
	</ul>	
{% endif %}
					
{% if page.tech %}
	<h4>Technology</h4>
	<ul>
		{% for tek in page.tech %}
			<li>{{ tek }}</li>
	    {% endfor %}
	</ul>
{% endif %}

