---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	<div class="content">
		<p class="s"><a href="/">Home</a> » <a href="/articles">Articles</a> »</p>
		<h1 itemprop="name headline">{{ page.title }}</h1>
		<p class="tags xs">
			{% for tag in page.tags %}
				<span>{{ tag }}</span>
			{% endfor %}
		</p>
		<p class="lead">{{ page.lead }}</p>
		<div class="post-content" itemprop="articleBody">
			{{ content }}			
		</div>
	</div>


	{% for item in page.booklist %}
		{% for book in site.data.books %}
			{% if book.id == item.i %}

				<div class="cover continued text-center bgk">
					<a href="{{ book.link }}" target="_blank">
						<img src="/images/books/{{ book.image }}" alt="{{ book.title }}" class="book-cover" />
					</a>
				</div>

				<div class="content">
					<h3>{{ book.title }}</h3>
					<p class="author">{{ book.author }}</p>
					<p>{{ book.description }}</p>
					<p><a href="{{ book.link }}" target="_blank">Read more »</a></p>
				</div>
					
			{% endif %}
		{% endfor %}
	{% endfor %}

</article>


  

