---
layout: default
---
<div class="work">

<div class="card banner work" style="background-image: url('{{ page.banner-image }}');">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<p class="crumb"><a href="/">Home</a> > <a href="/work">Work</a></p>
					<div class="logo"><img src="{{ page.logo }}" /></div>
				    <h1 class="title">{{ page.title }}</h1>

						<div class="categories">
              <p class="page-meta">Agency: {{ page.project-type }} <br />
              Roles: {{ page.roles | join: ', ' }}
              </p>
            </div>

				</div>
			</div>
		</div>
	</div>
</div>

{{ content }}

<div class="card link">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<a href="{{ page.work-url }}" target="_blank">Visit the site &raquo;</a>
				</div>
			</div>
		</div>
	</div>
</div>
