---
layout: default
---

<div class="card banner work" style="background-image: url('{{ page.banner-image }}');">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">

					<p class="crumb"><a href="/">Home</a> > <a href="/work">Work</a></p>
					<div class="logo"><img src="{{ page.logo }}" /></div>
				    <h1 class="title">{{ page.title }}</h1>

					<div class="categories">
              			<p class="page-meta">Agency: {{ page.project-type }} <br />Roles: {{ page.roles | join: ', ' }}</p>
            		</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- content -->

<div class="card content">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2">

					<p class="lead">{{ page.lead }}</p>
					{{ content }}

				</div>
			</div>
		</div>
	</div>
</div>

<!-- images -->
{% if page.image1 %}
<div class="card work full-width-image">
	<div class="inner">


		{% if page.image1 %}
		<div class="container image1">
			<div class="row">
				<div class="col-xs-12">
	         		<img src="{{ page.image1 }}" />
	       		</div>
	   		</div>
    	</div>
    	{% endif %}

		{% if page.image2 %}
    	<div class="two-images">
	      	<div class="image-left">
	       		<img src="{{ page.image2 }}" />
	   		</div>
	      		
    		<div class="image-right">
    		    <img src="{{ page.image3 }}" />
	      	</div>
	    </div>
   		{% endif %}

		{% if page.image4 %}
	   	<div class="container">
			<div class="row">
				<div class="col-xs-12">
	          		<img src="{{ page.image4 }}" />

	        	</div>
	      	</div>
	    </div>
	    {% endif %}

	</div>
</div>
{% endif %}

<!--carousel-->

{% if page.owl1 %}
<div class="card carousel">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2">
					<div id="work-carousel"" class="owl-carousel">
						<div class="carousel-image"><img src="{{ page.owl1 }}" /></div>
						<div class="carousel-image"><img src="{{ page.owl2 }}" /></div>
						{% if page.owl3 %}<div class="carousel-image"><img src="{{ page.owl3 }}" /></div>{% endif %}
						{% if page.owl4 %}<div class="carousel-image"><img src="{{ page.owl4 }}" /></div>{% endif %}
						{% if page.owl5 %}<div class="carousel-image"><img src="{{ page.owl5 }}" /></div>{% endif %}
						{% if page.owl6 %}<div class="carousel-image"><img src="{{ page.owl6 }}" /></div>{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}

<div class="card link">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<a href="{{ page.work-url }}" target="_blank">Visit the site &raquo;</a>
				</div>
			</div>
		</div>
	</div>
</div>
